Flask==0.12.3
Flask-WTF==0.14.3
Jinja2==2.11.2
MarkupSafe==0.23
Pygments==1.6
WTForms==2.0.1
Werkzeug==1.0.1
httplib2==0.9
itsdangerous==0.24
oauth==1.0.1
oauth2==1.9.0.post1
urwid==1.2.1
Sphinx==1.2.3
gunicorn>=19.5.0
pylti>=0.1.3
